<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564332808749-bu18c66g5bdnlsp7hqqcfgiohgv4irqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564332808749-bu18c66g5bdnlsp7hqqcfgiohgv4irqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564332808749-tko8fn4p7mpjt75lllhqj8lq784i9ta8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm2fZaul2dPxmZv2s7wcaTw1olCLok7Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>564332808749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasanktumpati.movieSearch</string>
	<key>PROJECT_ID</key>
	<string>movie-search-77ba5</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-search-77ba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564332808749:ios:fc30b975a088a79fd386a4</string>
</dict>
</plist>